{% extends "index.html" %}
{% block content %}

<div class="col-sm-9">
<h1>A sense of where you are </h1><br>
<p class="pt-3">July 2021</p>

<p>This is based on an article I wrote for the report of <a href://www.enpact.org">enpact.org</a>. One of the nonprofits with the most impact I have seen which enables founders to build great products. </p>


<p class="mt-5">Who does not feel dizzy when looking at all the events that have happened in 2020 and 2021? It feels like a spinning top that is increasing its speed while an international rock band sings: “The world clearly has gone mad.” 

Until 2020, I haven't seriously thought about the phrase "the world has gone mad". I always thought that the world is a mad place. But 2020 puts everything into a new perspective. 
Nothing is predictable anymore. Social problems appear like moving targets. To solve these problems, old static ways don't work anymore. We arrived at a point in time where we need to ask new questions. Let me show you what the team at CodeDoor did to. 
</p>
<p>
Because the world is unpredictable, you cannot apply conventional methods, right? You have to come up with new ways. As every good engineer does, we started to reason from first principles. By doing so, we removed assumptions and conventions about how things have been done in the past. We stripped things down to their fundamental truths and reasoned up from there. 
</p>
<p>
In order to ensure intellectual truth, we asked ourselves: "What would we come up with for our own children?" We would then apply it to our programs. The following are some questions we tried to answer. If you want, don’t look at the answers, write your own answers down first, then look at our answers.
</p>
<p>
What else did you come up with? We are happy to read your notes. 
</p>
<p>
First Question: Is the world actually getting crazier? <br>
Our answer: We do not need a detailed investigation of all events ever happened to compare and measure their craziness. The trick is that if an event is particularly unprecedented, we perceive it as crazy. As everyone knows, unpredictable events pop up everywhere. So the world is indeed getting crazier. The context the world gets itself into, turns about to be even worse than crazy: When un-craziness and crazy are mixed, un-craziness does not work as a counterbalance anymore and the result is craziness. Or put differently, although a lot of people work for the betterment of our plant, the few ones that don’t mess up so much that the world can’t breath at the moment. 
</p>
<p>
Second Question: With all the technological advances, why do these crazy events occur? <br>
Our answer: If you look at it, the world resembles a teenager in an identity crisis. Irrationality reaches their highest point of intersection with physical possibilities. The results are unprecedented events hitting a teenager’s mind in crisis.
</p>
<p>
Third Question: How come that tiny events suddenly become so world embracingly powerful?<br>
Our answer: In short: It’s a combination of globalization and nonlinear dynamics. What on earth is that you might ask? It becomes obvious with events where the impact increases over time. The infinitesimal transition from a bat to a human might not have a massive impact on the human at the very moment of transition. But as Lorenz found out with the Butterfly Effect, over time some events seem to be insignificant for a short time. Later they turn out to be world-changing events. 
</p>
<p>
Fourth Question: Does it matter that the world is going mad? <br>
Our Answer: It makes a big difference to us. It means that the phrase "the world has gone mad" is not only a figure of speech to express one's displeasure. It's not just a phrase to express disbelief. It makes us think about how to avoid and to change crazy developments. The world should not only not be crazy. It should be like Jürgen Klopp "the normal one." 
</p>
<p> 
Fifth Question: Ok, jokes aside why should I care if the world is mad?<br>
Our Answer: Because unprecedented events have the potential to attack our civilization.  For a stable civilization, we need to trust it. The world can face catastrophes, but only as long as people have a strong belief in their civilization. We need to be confident in their ability to deal with threats. You could argue that our civilization or society is far too stable and that technology is too sophisticated for us to lose confidence in our systems. Most Romans thought so too. 
</p>
<p>
Sixth Question: What are the greatest enemies of our civilisation?<br>
Our Answer: One of civilization’s chief enemies is fear. Fear of the things that could make life no longer worthwhile, such as illness, war or poverty. The second major enemy is despair and meaninglessness. When you lose hope of a life worth living, you question your identity and the perceived realities of your surroundings. That opens the door to demagogues. Almost everyone who touches the masses with targeted emotional impulses then has an easy job of displacing these masses. The alternative is accepted with gratitude, all is better than none.
</p>
<p> 
Seventh Question: How can individuals be empowered to lose or to prevent fear?<br>
Our Answer: The situation to which the world finds itself is not without hope. The key is to learn to be aware of the events and processes that contribute to their social and material well-being. However, no one can be alert in any aspect of life. But they may be within their own area of competence. It doesn’t matter what you are involved in, whether it’s economics, education, history, social sciences, philosophy, and sports, or whatever. You can reflect on and take action on events in your field of expertise.  
</p>

<p>
Eighths Question: What is the enemy of empowerment?<br>
Our Answer: Certainly, people need access to resources to take action. But there is also something counterintuitive on the individual level, which has nothing to do with resources. People should not wait to be feel prepared to take action. Most people expect the feeling to appear. But psychiatrists will agree that motivation does not come first. Action does. If people take action, even if they don’t feel like it, this action produces energy, and pockets of motivation follow. It may start with exploring new approaches with a few simple steps that can grow into complexity. It’s like a startup idea. Version one of a successful product is usually quite simple and iterates fairly quickly into a sophisticated solution
</p>
<p>
Ninths Question: Ok, let’s say people are empowered. How do people find out what they should work on?<br>
Our Answer: They should discover who they are. To do this, they need to have the right technical and social environment that gives them access to tools that enable them to identify the skills they want to inherently improve and use to act. This leads to a life of contribution in which each human being can be empowered to contribute her individual skills to her social and material well-being. 
</p>
<p>
Tenth Question: Why do things that matter always take so long to evolve?<br>
Our Answer:  When people start a journey they need to be attentive to long-term needs as well. Most of the things we want and that are significant can only be achieved over the long term. And because they take time, we lack a prompt reward for our actions. And although perseverance is often the hallmark of a successful enterprise, we often act in the short term and undervalue what we are able to do in the long term. 
</p>
</div>
{% endblock %}
