{% extends "index.html" %}
{% block content %}

<p>Hi, my name is Karan. I am the co-founder of <a href="https://tensorparc.com">TensorParc.</a></p>
<br>
My email address is my initials at tensorparc.com.
<p><a href="https://twitter.com/Kdegani">Twitter</a>
<a href="https://github.com/justkaran">GitHub</a>
<a href="https://www.linkedin.com/in/karandehghani/">LinkedIn</a></p>

<div>
<p>I love to code and to play with my kids. In 1990 I got my first computer. I taught myself how to program and 1997 I launched one of Germany's first online stores, Geschenk24.com. It was acquired by Metro in 2001.</p>
<p> I co-founded CodeDoor.org. With CodeDoor.org NGOs from the United States to Japan teach others how to code. 
</p>
Since 1988 I play basketball. Once we've overcome this pandemic, I'm back and open to hoop challenges with others. Pizza is a gift from heaven.</p>
</div>

{% endblock %}