{% extends "index.html" %}
{% block content %}

<p>Hi, my name is Karan. I love to code and to play with my kids. In 1990 I got my first computer. I taught myself how to program and 1997 I launched one of Germany's first online stores, Geschenk24.com. It was acquired by Metro in 2001.</p>
<p> I co-founded CodeDoor.org and TensorParc.com. With CodeDoor.org NGOs from the United States to Japan teach others how to code and through TensorParc people can create more quickly. <br>
With magnitude.io I help school children in Germany carry out parallel experiments to astronauts on the International Space Station.</p>
<p>
Once a year I hold a lecture <a href="https://www.uni-giessen.de/fbz/fb02/fb/professuren/bwl/bwl-x/Studium">here.</a> I used to support lectures <a href="https://www.hhl.de/de/">here</a> and I got a degree from <a href="https://www.lse.ac.uk/study-at-lse/uolip">here.</a> 

Since 1988 I play basketball. Once we've overcome COVID-19, I'm back open to hoop challenges with others. Pizza is a gift from heaven.</p>

<br>
My email address is my initials at tensorparc.com.
<p><a href="https://twitter.com/Kdegani">Twitter</a>
<a href="https://github.com/justkaran">GitHub</a>
<a href="https://www.linkedin.com/in/karandehghani/">LinkedIn</a></p>

{% endblock %}