{% extends "index.html" %}
{% block content %}

<h3>Books I recommend (one is written by me):  </h3>
<p class="pt-3"> <a href="https://www.amazon.de/gp/product/110760463X">  A Mathematician's Apology, G. H. Hardy</a> 
</p>

<p> <a href="https://www.amazon.com/Sense-Where-You-Are-Princeton/dp/0374526893"> A Sense Of Where You Are, John McPhee </a>  </p>  
      
<p> <a href="https://www.amazon.com/Sense-Where-You-Are-Princeton/dp/0374526893"> Albert Einstein: Creator and Rebel, Banesh Hoffmann, Helen Dukas</a> </p>
      
  <p> <a href="https://books.apple.com/de/book/id1529802776"> Bär Jordi: Mir ist langeweilig, Karan Dehghani</a></p>

  <p>   <a href="https://www.amazon.com/Barbarian-Days-Surfing-William-Finnegan/dp/0143109391"> Barbarian Days, William Finnegan </a> </p>
      
  <p>  <a href="https://www.blitzscaling.com"> Blitzscaling, Reid Hoffman, Chris Yeh</a></p>  
      
  <p> <a href="https://www.amazon.de/Brief-Answers-Big-Questions-Stephen/dp/1473695988">Brief Answers to Big Questions, Stephen Hawking </a></p>    

  <p>  <a href="https://www.amazon.com/Civilisation-Kenneth-Clark/dp/0719568447"   >Civilisation, Kenneth Clark </a></p> 
      
   <p>  <a href="https://books.google.de/books?id=7ekSmKFBTlMC&printsec=frontcover&source=gbs_ge_summary_r&cad=0#v=onepage&q&f=false"> Eleven Rings, Phil Jackson and Hugh Delehanty </a> </p>

   <p> <a href="https://www.amazon.de/dp/1430210788"> Founders at Work, Jessica Livingston </a> </p>

   <p>  <a href="http://paulgraham.com/hackpaint.html"> Hackers And Painters, Paul Graham </a>   </p>
      
   <p>   <a href="http://growth.eladgil.com">High Growth Handbook,  Elad Gil </a> </p>
      
   <p>  <a href="https://www.goodreads.com/book/show/13466"> How_Customers_Think How Customers Think, Gerald Zaltman  </a></p>
      
   <p>  <a href="https://www.amazon.de/dp/0691122946?tag=mostrecomm08a-21"> On Bullshit, Harry G. Frankfurt</a> </p>

   <p>   <a href="https://www.amazon.de/dp/0130305529/ref=cm_sw_r_tw_dp_U_x_Kp61Db9VM0YH1">On Lisp: Advanced Techniques for Common Lisp, Paul Graham,</a> </p>  
      
  <p>    <a href="https://www.bahai.org/library/authoritative-texts/abdul-baha/some-answered-questions">Some Answered Questions, Abdul'Baha </a>  </p>
      
  <p>   <a href="https://en.wikipedia.org/wiki/The_Act_of_Creation"> The Act Of Creation, Arthur Koestler </a>  </p>
      
 <p>     <a href="https://www.amazon.com/Autobiography-Benjamin-Franklin/dp/1640320032"  > The Autobiography of Benjamin Franklin, Benjamin Franklin, </a></p> 
      
  <p>  <a href="https://www.amazon.de/Dream-Machine-M-Mitchell-Waldrop">The Dream Machine, M. Mitchell Waldrop </a>  </p>
      
  <p>  <a href="https://en.wikipedia.org/wiki/The_God_Particle_(book)"> The God Particle, Leon M. Lederman, Dick Teresi </a>  </p>
      
 <p>   <a href="https://www.amazon.com/gp/product/144261269">  The Gutenberg Galaxy, Marshall McLuhan </a>  </p>
      
 <p>   <a href="https://montessoriguide.org/in-her-words-the-secret-of-childhood">  The Secret Of Childhood, Maria Montessori </a>   </p>
      
 <p>   <a href="https://www.bahai.org/library/authoritative-texts/abdul-baha/secret-divine-civilization/1#093729958">  The Secret of Divine Civilisation, Abdu'l-Bahá </a>  </p>

 <p>   <a href="https://www.amazon.com/-/de/dp/0316491977"> The Soul of A New Machine, Tracy Kidder </a>     </p>

 <p>   <a href="https://www.amazon.com/exec/obidos/ASIN/0961392142">  The Visual Display Of Quantitative Information, Edward R. Tufte</a>    </p>
      
 <p>    <a href="https://www.amazon.com/exec/obidos/ASIN/0674897013">  Toward A Theory Of Instruction, Jerome Bruner </a>   </p> 
      
 <p>   <a href="https://withouttheirpermission.com"> Without Their Permission, Alexis Ohanian  </a>   </p>
      
 <p>    <a href="https://www.goodreads.com/book/show/18050143-zero-to-one"> Zero To One, Peter Thiel </a> </p>


{% endblock %}