{% extends "index.html" %}
{% block content %}

<h1>Quotes</h1>

<p>"Context adds 80 IQ points." </br>
Alan Kay </p>

<p>"You've got to have a purpose in life." </br>
Arnold Schwarzenegger </p>

<p>"The earth is but one country and mankind its citizens." </br>
Baha'u'llah</p>

<p>"A mathematician, like a painter or poet, is a maker of patterns. If his patterns are more permanent than theirs, it is because they are made with ideas." </br>
G. H. Hardy</p>

<p>"Invention is 1% inspiration and 99% perspiration"</br>Thomas Edison</p>

<p>"Which path are you seeing right now that you could take, which will never be available in your life again?" </br>
Michael Seibel</p>

<p>"You are making the kids cry and you know it well." </br> 
My 5 year old son, talking to all adults  </p>

<p>"If I had to choose between my kids getting good grades and working on ambitious projects of their own, I’d pick the projects."</br>
Paul Graham</p>

<p>"If you're a maker, resist being told what to do by people who aren't".</br>
Paul Graham</p>

<p>"Learn the rules like a pro, so you can break them like an artist." </br>
Picasso </p> 

<p>"One way to open your eyes to unnoticed beauty is to ask yourself: What if I had never seen this before? What if I knew I would never see it again." Rachel Carson</p>

<p>"What are the important problems of your field? ...[]If what you are doing is not important, and if you don't think it is going to lead to something important, why are you [] working on it?" </br>
Richard Hamming</p>

<p>"Focusing is about saying no." </br>
Steve Jobs  </p>

<p>"You are just a rounding error." </br>
Yahoo Executive to Reddit Founders </p>
     
<p>"When you stand back at a sufficient distance, you can see ideas spreading through groups of people like waves."</br>
Tara Ploughman</p>

<p>"The most surprising thing is that you wouldn’t let anyone steal your property, but you consistently let people steal your time, which is infinitely more valuable."</br> Seneca</p>

<p>"The way creative people work differs from others to a greater extent than a flowing river differs from a traffic light."</br> Adrianna Keg</p>

{% endblock %}