{% extends "index.html" %}
{% block content %}

<h1>Quotes</h1>
<p>"The earth is but one country and mankind its citizens." </br>
Baha'u'llah</p>

<p>"Learn the rules like a pro, so you can break them like an artist." </br>
Picasso </p> 

<p>"Context adds 80 IQ points." </br>
Alan Kay </p>
                
<p>"Focusing is about saying no." </br>
Steve Jobs  </p>
                 
<p>"You are making the kids cry and you know it well." </br> 
My 5 year old son, talking to all adults  </p>


<p>"A mathematician, like a painter or poet, is a maker of patterns. If his patterns are more permanent than theirs, it is because they are made with ideas." </br>
G. H. Hardy</p>
               

<p>"You've got to have a purpose in life." </br>
Arnold Schwarzenegger </p>


<p>"Genius is only a greater aptitude for patience" </br>
Georges Louis Leclerc, Graf von Buffon</p>


<p>"What are the important problems of your field? ...[]If what you are doing is not important, and if you don't think it is going to lead to something important, why are you [] working on it?" </br>
Richard Hamming</p>


<p>"Startups usually win by making something so great that people recommend it to their friends."</br>
Paul Graham</p>

{% endblock %}