{% extends "index.html" %}
{% block content %}

<div class="col-sm-9">
<h1>The R number </h1><br>
<p class="pt-3">December 2020</p> 
<br>
<script>
mixpanel.track("Essay R number loaded");
</script>
<p>
I recently realized that the laws regulating the spread of a virus are the same as those that regulate the spread of a startup’s product.
</p>
<p>
I saw the similarity while reading the book Apollo's Arrow by Nicholas Christakis. (1)  In his book he covers the impact of Coronavirus on the way we live. To explain how the spread of the virus is measured, he explains the reproduction number abbreviated with R.
</p>
<p>
R0 (called R naught) captures the capacity of a pathogen to start an outbreak. It shows the degree to which it is infectious in absence of any measures. Let’s say on average one person transmits the disease to 10 others. R is then called R10.
</p>
<p>
What makes R relevant for your startup? R can tell you whether you are on to something or not.  In a product context, R is the degree to which the solution of a startup is “contagious”. Here “contagious” means that people want to use and share the solution with others. 
</p>
<p>
Contagiousness also has a time parameter. Sometimes users need time until they want to share their newly discovered product with others. Sometimes you also need time to identify what makes your product grow. It is comparable to the incubation period of a virus. The incubation period is the period from when the pathogen was transmitted to when the first symptoms appear.  
</p>
<p>
A virus incubates more severely in certain areas than in others. During the current pandemic some regions have a high R, while others do not. For your startup, this means that you must find the target group that is most responsive to your product.  You need to find those users who want your product the most. For them, your product is not only a nice one to have, it is urgently wanted. 
 </p>
<p>
As a founder, I cannot overemphasize the importance of R0. Obviously, you want early users to spread the product sufficiently. Sufficiently means that your product will not die out. This happens when R0 is at least equal to 1 while the “infective” user continues to use the product. This means that on average one user will use and recommend your product to another person. Most products show early on that R0 is less than 1, which means that one user will not generate another user. If R is less than 1, it is about to run into too many dead ends. 
</p>
<p>
If your product depends on many users, then an R less than 1 is a bad sign. It could mean that you are highly susceptible to becoming “default dead”, which is a term defined by Paul Graham. (2) 
</p>
<p>
I was surprised that many founders whom I spoke to while I was writing this essay did not recommend this kind of indicator as something to consider in the early days of launching a product. I think this is caused mostly by two reasons. 
</p>
<p>
The first reason is that most successful products had a high R right from the start. A high R is the reason why the product even turned into a startup. The pull of the market made it grow naturally. The amount of users can be small in the beginning, but the pull of the market is still there.  It came so naturally that the founders did not question the R of their product. At least not in the very beginning.  
The second reason is wishful thinking. You don't want to see your product fail. Especially not immediately after you have launched a product. It’s like writing a crazy good novel and then realizing that no one wants to read it. 
</p>
<p>
I made that mistake myself. Fifteen years ago, I began selling gift baskets online. I did not produce them myself. It worked similar to the way DoorDash or Delivery Hero operate today. My platform collected the orders and redirected them to a local store or person who delivered the gift basket to the recipient locally.   I was in love with the average gross profit margin, one order cost me around €0.25 and I made on average €25 gross profit per cart.  Not too bad for a side-project.  
</p>
<p>
However, most of the customers were companies. A lot of them bought presents in high season, like Christmas. They had not purchased regularly during the year.  R varied by a lot.  During peak periods, R was sometimes over 10, while at other times during the year, R was under 1. Ultimately, this meant that my company was dependent upon super-spreader events, where only sporadic events led to growth bumps.
</p>
<p>
But in order to build a national network of gift basket suppliers, I would have needed a steady R.  A little math will show you why.  Suppose 100 users buy my product for the first time. There is just one of them that recommends my product that leads to 300 new orders.  The other 99 users do not recommend the product or fail to trigger a purchase by someone else. In this case, the average R is 3. However, there is a large variation. 
</p>
<p>
Now compare a scenario where of 100 users each user will definitely recommend the product to another 3 and these users buy my product.  Now R remains 3, but the variation is nil. Since each user is integrated into a network of other people and the number of people varies greatly (depending on how well the user is connected), the product with the "stable" R of 3 will win the game.
</p>
<p>
There is another reason that R should be much more than one and stable. The reason is that useful products will be attacked. And your R should be strong enough to withstand the attacks.  The source of the attacks will vary.  With the growth of the startup, the attacks will become stronger as well.  In the beginning, you might face arrogant experts on Twitter or just people who can't stand to see you win. People will claim that they “need no mask”, that your product is a joke and that you are no thread at all. (3)
</p>
<p>
As I was learning more about the R number, what surprised me was that the different use of the number may help founders better understand the contagious nature of their product.  There is a differentiation between R0 and Rt, the so-called effective reproduction number. T represents time (Rt is sometimes termed Re).  Rt reflects the spread of the pathogen later in its course, when we are no longer inactive and have started pathogen-fighting responses. 
</p>
<p>
Applied to your startup, R0 tells you how many people want to use and share the product in the absence of marketing or sales measures. Rt adds obstacles to R0: It is the degree of how much a small group of users is being engaged in a startup’s solution while experts, competitors, haters and critics attack the solution. 
</p>
<p>
After a while, a whole community of naysayers, critics, and experts will come up with made up reasons why your product is bad and sometimes even set in motion legal regulations to stop your product from spread in certain cities from converting their property into “AirBnBs”.  In Germany, taxi companies have urged politicians to stop Uber from operating.  Data protection legislation even attacked foreign cloud services, such as AWS and forced German government authorities to use “German” cloud servers. (4)
</p>
<p>
If your R is strong enough, your product will still grow. Not all defense mechanisms work. The development of Rt during a pandemic shows this. Just look at the closing of border tactics.  Closing orders during a pandemic, as Christakis points out in his book, only delays R very briefly. (5)
</p>
<p>
You could save a lot of time, sweat and money if you looked at R right from the start. Test your product with 30 to 50 users. That should be a sufficiently large enough range to having a normal distribution for R.  Good luck. 
</p>





<p>
<br>
(1) Nicholas A. Christakis, Apollo’s Arrow - The profound and enduring impact of Coronavirus on the way we live <br>
(2) Paul Graham, Default Alive or Default Dead,  http://www.paulgraham.com/aord.html <br>
(3) I thought about listing examples of Twitter rants of successful startups, but there are so many and they appear so often that all you have to do is go on Twitter. Don’t get me wrong, I like using Twitter myself. Haters can be found on every platform. <br>
(4) Whatever this is. <br>
(5) Christakis mentions that an analysis of the outbreak during the 2009 H1N1 pandemic showed that, at best, border controls in China delayed the spread of the pandemic by less than 4 days.

</p>


{% endblock %}
